.home-header {
  width: 100%;
  min-height: 90vh;

  padding: 2rem 0;

  background: linear-gradient(165deg, #e9e9e9 50%, #fff 50%);

  position: relative;
}
.headline {
  font-size: 2.5rem;
  /* margin-top: 0;
  margin-bottom: 1rem; */
}
.job {
  font-size: 1rem;
  font-weight: 300;
  color: #aaa;
}
.arrow-button {
  width: 2.5rem;
  height: 2.5rem;

  position: absolute;
  bottom: -1.5rem;

  font-size: 1.5rem;
  color: #f8f8f8;
  background-color: #000;
}
.inline-medium-text {
  font-weight: 500;
}
.link-button {
  background-color: #111;
  color: #fff;

  cursor: pointer;
  position: relative;

  line-height: 1;

  padding: 1rem 1.2rem;

  border-radius: 5rem;
}
.arrow-right-icon {
  margin-left: 0.5rem;
}
@media (prefers-reduced-motion: no-preference) {
  .arrow-down-icon {
    transition: all 0.2s ease-in-out;
  }
  .arrow-right-icon {
    transition: all 0.15s ease-in-out;
  }
}

@media (hover: hover) {
  .link-button > .arrow-right-icon {
    opacity: 0.5;
  }
  .link-button:hover > .arrow-right-icon {
    opacity: 1;
    transform: translate(0.5rem, 0);
  }
  .arrow-button:hover {
    background-color: #1c1c1c;
  }
  .arrow-button:hover > :global(svg) {
    transform: translate(0, 0.5rem);
  }
}

@media screen and (min-width: 768px) {
  .headline {
    font-size: 4rem;
  }
  .job {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .headline {
    font-size: 5rem;
  }
  .job {
    font-size: 1.5rem;
  }
  .link-button {
    padding: 1.2rem 1.5rem;

    font-size: 1.2rem;
    border-radius: 5rem;
  }
  .arrow-right-icon {
    margin-left: 0.5rem;
  }
  .arrow-button {
    width: 5rem;
    height: 5rem;

    bottom: -3rem;

    font-size: 2rem;
  }
}
@media screen and (min-width: 1920px) {
  .headline {
    font-size: 6rem;
  }
  .job {
    font-size: 2rem;
  }
  .link-button {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }
  .arrow-right-icon {
    margin-left: 0.7rem;
  }
}
@media screen and (min-width: 2560px) {
  .headline {
    font-size: 7rem;
  }
  .link-button {
    font-size: 2rem;
    padding: 2rem 2.5rem;
  }
  .arrow-right-icon {
    margin-left: 1rem;
  }
  .arrow-button {
    width: 7rem;
    height: 7rem;

    bottom: -4rem;

    font-size: 3rem;
  }
}
@media screen and (min-width: 3840px) {
  .headline {
    font-size: 10rem;
    margin-bottom: 3.5rem;
  }
  .job {
    font-size: 3.5rem;
  }
  .link-button {
    font-size: 3rem;
    padding: 3.5rem 4.5rem;
  }
  .arrow-right-icon {
    margin-left: 2rem;
  }
  .arrow-button {
    width: 10rem;
    height: 10rem;

    bottom: -6rem;

    font-size: 4rem;
  }
}
