.home-tech-stack,
.tech-stack-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tech-stack-title {
  font-size: 3rem;
}
.tech-list {
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  position: relative;
}
.tech-list-item {
  border-radius: 50%;
  background: #f8f8f8;
  box-shadow: 2rem 2rem 6rem #d9d9d9, -2rem -2rem 6rem #ffffff;
  width: 7rem;
  height: 7rem;
  margin-bottom: 1rem;
}
.tech-stack-icon {
  aspect-ratio: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .tech-list-item {
    transition: all 0.2s ease-in-out;
  }
}
@media (hover: hover) {
  .tech-list-item:hover {
    background-color: #eee;
  }
}
@media screen and (min-width: 2560px) {
  .tech-stack-title {
    font-size: 5rem;
  }

  .tech-list-item {
    width: 10rem;
    height: 10rem;
  }

  .tech-stack-icon {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (min-width: 3840px) {
  .tech-stack-title {
    font-size: 10rem;
  }

  .tech-list-item {
    width: 20rem;
    height: 20rem;

    margin-bottom: 5rem;
  }

  .tech-stack-icon {
    width: 15rem;
    height: 15rem;
  }
}
