.home-introduce {
  width: 100%;
  min-height: 100vh;

  text-align: start;
  background-color: #111111;
  color: #fefefe;
}
.intro-wrapper {
  width: 80%;
}
.intro {
  margin-right: 0;
  margin-top: 5rem;
}
.intro-title {
  font-size: 4rem;
}
.intro-description {
  padding: 0 7px;

  color: #acacac;
  font-size: 1.2rem;
}

.profile-icon {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .intro-wrapper {
    flex-wrap: wrap-reverse;
  }
  .intro {
    margin-right: 0;
    margin-top: 5rem;
  }
  .intro-title {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 568px) {
  .intro-wrapper {
    width: 80%;
    margin: 5rem auto;
  }
}
@media screen and (min-width: 568px) {
  .intro-wrapper {
    margin: 3rem 0;
  }

  .profile-icon {
    width: initial;
    height: initial;
  }
}
@media screen and (min-width: 768px) {
  .intro-wrapper {
    margin: 5rem 0;
  }
  .intro {
    margin-right: 2rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .intro-wrapper {
    flex-wrap: nowrap;
  }
  .intro {
    margin-right: 5rem;
    margin-top: 0;
  }
  .profile-icon {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .intro-wrapper {
    width: 60%;
  }
}
@media screen and (min-width: 2560px) {
  .intro-title {
    font-size: 6rem;
  }
  .intro-description {
    font-size: 2rem;
  }
}
@media screen and (min-width: 3840px) {
  .intro-title {
    font-size: 10rem;
  }
  .intro-description {
    font-size: 3rem;
  }
}
