{
  "root": true,
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "standard-with-typescript",
    "plugin:@next/next/recommended",
    "next/core-web-vitals",
    "prettier"
  ],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.eslint.json", "./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": false,
        "allowHigherOrderFunctions": false,
        "allowDirectConstAssertionInArrowFunctions": true
      }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "parameter",
        "format": ["strictCamelCase"],
        "filter": {
          // you can expand this regex as you find more cases that require quoting that you want to allow
          "regex": "App|Component|__N_SSP|__N_SSG",
          "match": false
        }
      }
    ],
    "@typescript-eslint/consistent-type-definitions": ["warn", "type"]
    // "jsx-a11y/anchor-is-valid": [
    //   "error",
    //   {
    //     "components": ["Link"],
    //     "specialLink": ["hrefLeft", "hrefRight"],
    //     "aspects": ["invalidHref", "preferButton"]
    //   }
    // ],
    // "lines-between-class-members": "warn",
    // "@typescript-eslint/no-for-in-array": "warn",
    // "@typescript-eslint/no-unused-vars": "warn",
    // "react/react-in-jsx-scope": "off",
    // "react/prefer-stateless-function": "warn",
    // "react/jsx-filename-extension": [
    //   "warn",
    //   { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    // ],
    // "react/jsx-props-no-spreading": "warn",
    // "react/no-unknown-property": ["error", { "ignore": ["jsx", "global"] }],
    // "no-param-reassign": "warn",
    // "no-nested-ternary": "warn",
    // "import/extensions": [
    //   "error",
    //   "ignorePackages",
    //   {
    //     "js": "never",
    //     "jsx": "never",
    //     "ts": "never",
    //     "tsx": "never"
    //   }
    // ]
  }
}
