.footer {
  width: 100%;
  background-color: #000;
  color: #eee;
}

.copyright {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.github-link {
  color: #ff6683;
}

@media (hover: hover) {
  .github-link:hover {
    color: #ff94a8;
  }
}
@media screen and (min-width: 2560px) {
  .footer {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 3840px) {
  .footer {
    font-size: 3rem;
  }
}
