@media (prefers-reduced-motion: no-preference) {
  .header,
  .backdrop {
    transition: all 0.4s ease-in-out;
  }
}

.header {
  z-index: 2;

  position: fixed;
  top: 0;
  left: 0;

  /* overflow-x: hidden; */

  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 568px) {
  .header {
    width: 0;
    height: 100vh;
    max-height: 100vh;

    padding: 0;

    visibility: hidden;
    background-color: #121212;
  }
  .header.open {
    width: 100px;
    visibility: visible;
  }
  .menu-button {
    width: 1.3rem;
    height: 1.3rem;

    position: fixed;
    top: 0.5rem;
    left: 0.5rem;

    z-index: 2;

    background: transparent;

    line-height: 1;
  }
  .menu-button::before {
    content: '☰';
    color: #909090;
    font-size: 1.3rem;
  }
  .close-button {
    background: transparent;
    color: #e0e0e0;
    margin-top: 1rem;
  }
  .backdrop {
    width: 0;

    position: fixed;
    inset: 0;

    z-index: 1;

    background-color: rgba(0, 0, 0, 0.7);
  }
  .backdrop.open {
    width: 100%;
  }
}
@media screen and (min-width: 568px) {
  .header {
    width: 100%;
    padding: 0.5rem 1rem;

    flex-direction: row;

    background: transparent;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}
