.item-list {
  display: inline-flex;
  font-size: 1.5rem;
}
.link-item {
  margin: 0 1rem;

  color: #808080;
}
@media (prefers-reduced-motion: no-preference) {
  .link-item {
    transition: all 0.2s ease-in-out;
  }
}
@media (hover: hover) {
  .link-item:hover {
    color: #505050;
    font-weight: 500;
  }
}
/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .item-list {
    flex: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .link-item {
    margin: 0.5rem 0;
  }
  .icon-link {
    color: #bfbfbf;
  }
}
@media screen and (min-width: 568px) {
  .link-item {
    margin: 0 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .link-item {
    margin: 0 1rem;
  }
}
@media screen and (min-width: 2560px) {
  .item-list {
    font-size: 2rem;
  }
}
@media screen and (min-width: 3840px) {
  .item-list {
    font-size: 3.5rem;
  }
  .link-item {
    margin: 0 1.5rem;
  }
}
