.about {
  margin: auto;
}
.about-title {
  font-size: 3rem;
}
.about-description {
  text-align: left;
  font-size: 1.5rem;
  margin: 0 1.5rem;
}
@media only screen and (max-width: 767px) {
  .about-title {
    font-size: 2.4rem;
  }
  .about-description {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 2560px) {
  .about-title {
    font-size: 5rem;
  }
  .about-description {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 3840px) {
  .about-title {
    font-size: 7rem;
  }
  .about-description {
    font-size: 3.5rem;
  }
}
