html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: small;
  }
}

@font-face {
  font-family: 'Poppins';
  src: local('/Poppins/Poppins-Black.ttf'),
    local('/Poppins/Poppins-BlackItalic.ttf'),
    local('/Poppins/Poppins-Bold.ttf'), local('/Poppins/Poppins-BoldItalic.ttf'),
    local('/Poppins/Poppins-ExtraBold.ttf'),
    local('/Poppins/Poppins-ExtraBoldItalic.ttf'),
    local('/Poppins/Poppins-ExtraLight.ttf'),
    local('/Poppins/Poppins-ExtraLight.ttf'),
    local('/Poppins/Poppins-Italic.ttf'), local('/Poppins/Poppins-Light.ttf'),
    local('/Poppins/Poppins-LightItalic.ttf'),
    local('/Poppins/Poppins-Medium.ttf'),
    local('/Poppins/Poppins-MediumItalic.ttf'),
    local('/Poppins/Poppins-Regular.ttf'),
    local('/Poppins/Poppins-SemiBold.ttf'),
    local('/Poppins/Poppins-SemiBoldItalic.ttf'),
    local('/Poppins/Poppins-Thin.ttf'), local('/Poppins/Poppins-ThinItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('/Montserrat/static/Montserrat-Black.ttf'),
    local('/Montserrat/static/Montserrat-BlackItalic.ttf'),
    local('/Montserrat/static/Montserrat-Bold.ttf'),
    local('/Montserrat/static/Montserrat-BoldItalic.ttf'),
    local('/Montserrat/static/Montserrat-ExtraBold.ttf'),
    local('/Montserrat/static/Montserrat-ExtraBoldItalic.ttf'),
    local('/Montserrat/static/Montserrat-ExtraLight.ttf'),
    local('/Montserrat/static/Montserrat-ExtraLight.ttf'),
    local('/Montserrat/static/Montserrat-Italic.ttf'),
    local('/Montserrat/static/Montserrat-Light.ttf'),
    local('/Montserrat/static/Montserrat-LightItalic.ttf'),
    local('/Montserrat/static/Montserrat-Medium.ttf'),
    local('/Montserrat/static/Montserrat-MediumItalic.ttf'),
    local('/Montserrat/static/Montserrat-Regular.ttf'),
    local('/Montserrat/static/Montserrat-SemiBold.ttf'),
    local('/Montserrat/static/Montserrat-SemiBoldItalic.ttf'),
    local('/Montserrat/static/Montserrat-Thin.ttf'),
    local('/Montserrat/static/Montserrat-ThinItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  min-height: 100vh;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  height: 0;
}

.flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.ai-baseline {
  align-items: baseline;
}

.jc-center {
  justify-content: center;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
