html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: small;
  }
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Black.ttf'), local('Poppins-BlackItalic.ttf'),
    local('Poppins-Bold.ttf'), local('Poppins-BoldItalic.ttf'),
    local('Poppins-ExtraBold.ttf'), local('Poppins-ExtraBoldItalic.ttf'),
    local('Poppins-ExtraLight.ttf'), local('Poppins-ExtraLight.ttf'),
    local('Poppins-Italic.ttf'), local('Poppins-Light.ttf'),
    local('Poppins-LightItalic.ttf'), local('Poppins-Medium.ttf'),
    local('Poppins-MediumItalic.ttf'), local('Poppins-Regular.ttf'),
    local('Poppins-SemiBold.ttf'), local('Poppins-SemiBoldItalic.ttf'),
    local('Poppins-Thin.ttf'), local('Poppins-ThinItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Black.ttf'), local('Montserrat-BlackItalic.ttf'),
    local('Montserrat-Bold.ttf'), local('Montserrat-BoldItalic.ttf'),
    local('Montserrat-ExtraBold.ttf'), local('Montserrat-ExtraBoldItalic.ttf'),
    local('Montserrat-ExtraLight.ttf'), local('Montserrat-ExtraLight.ttf'),
    local('Montserrat-Italic.ttf'), local('Montserrat-Light.ttf'),
    local('Montserrat-LightItalic.ttf'), local('Montserrat-Medium.ttf'),
    local('Montserrat-MediumItalic.ttf'), local('Montserrat-Regular.ttf'),
    local('Montserrat-SemiBold.ttf'), local('Montserrat-SemiBoldItalic.ttf'),
    local('Montserrat-Thin.ttf'), local('Montserrat-ThinItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  min-height: 100vh;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  height: 0;
}

.flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.ai-baseline {
  align-items: baseline;
}

.jc-center {
  justify-content: center;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
